.mainVideo{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100dvh; 
    background-color: #000000; 
    scroll-snap-align: start; 
    width: 100%;
}

.wraperVideo video{
    object-fit: cover; 
    height: 100dvh !important; 
}