.mainProductGrid{
    display: flex; 
    flex-wrap: wrap; 
    gap: 2.5rem; 
    justify-content: center; 
    align-items: center; 
    min-width: 300px;

    @media (max-width: 767px) { 
        /* display: none;  */
    }

    @media (min-width: 768px) { 
    width: 100%; 
    }
    @media (min-width: 1024px) { 
    width: 100%; 
    }
    @media (min-width: 1280px) { 
    width: 100%; 
    }
}

.productGridCol{
    display: flex; 
    right: 0; 
    margin-top: 1rem; 
    flex-direction: column; 
    gap: 1rem; 
    width: 100%; 
    margin-left: 0;
    margin-right: 0;
}

.productGridCard{
    display: flex; 
    overflow-y: hidden;     
    padding: 1rem; 
    flex-direction: column; 
    border-radius: 1rem; 
    background-color: #ffffff; 
    max-height: 600px;
    @media (max-width: 400px) { 
        max-height: 330px;
    }
    @media (max-width: 340px) { 
        max-height: 300px;
    }
}

.containerProductCard {
    overflow-y: auto;     
}

.headerProductgridCart{
    display: flex; 
    margin-bottom: 0.75rem; 
    justify-content: space-between; 
}

.headerProductgridCartText{
    font-size: 1rem;
    line-height: 1.5rem; 
    font-weight: 700; 
    color: #53545C;
}

.headerProductgridCartImage{
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 

    @media (min-width: 1024px) { 
    display: flow-root 
    }
}

.headerProductgridCartImageMain {
    display: none; 
    padding: 0.5rem; 
    justify-content: center; 
    align-items: center; 
    border-radius: 9999px; 
    background-color: #ffffff; 

    @media (min-width: 768px) { 
    display: flex; 
    }
}

.headerProductgridCartImageRounde{
    position: absolute; 
    margin-right: 0; 
    margin-bottom: 1.25rem; 
    margin-left: 1.5rem; 
    padding: 1px 5px;
    border-radius: 9999px; 
    font-size: 0.75rem;
    line-height: 1rem; 
    color: #ffffff; 
    background: #F57E77;
}

.cleanCart{
    cursor: pointer; 
    color: #F57E77;
    font-size: 12px;
}

.headerProductGridCartItems{
    display: flex;
    flex-direction: column;
    gap: 4px;
    @media (max-width: 768px) { 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

.itemAllItems {
    display: flex; 
    overflow: hidden; 
    padding: 1rem; 
    flex-direction: column; 
    border-radius: 1rem; 
    background-color: #ffffff; 
}

.itemAllItemsTextContainer {
    display: flex; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    justify-content: space-between; 
    font-size: 1rem;
    line-height: 1.5rem; 
    color: #53545C;
    border-bottom:1px solid #BBC1CA6B;
}

.priceAllItems {
    display: flex; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    flex-direction: column; 
    gap: 0.75rem; 
}

.freeShippingTextContainer {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}

.freeShipping {
    font-size: 1rem;
    line-height: 1.5rem; 
    color: #53545C;
}

.priceAllItemsTextContainer{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    font-size: 1rem;
    line-height: 1.5rem; 
    font-weight: 600; 
    color: #53545C;
}

.nextShopButton {
    border-radius: 1rem; 
    width: 100%; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 700; 
    background: #F6A97D;
    border: 0;
    height: 54px;
    color: #53545C;
    border: transparent;
}

.emptycartText {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: right;
    padding-top: 32px;
    color: #CCCCCC;
}

.emptyCartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.freeShippingGreen{
    color: #2FCB70;
}