.mainVideo{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #000000; 
    scroll-snap-align: start; 
    max-width: 429px;
}

.wraperVideo video{
    object-fit: cover; 
    height: 100vh; 
    
}